In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
dataset = pd.read_csv('USA_Housing.csv')
dataset.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [ ]:
sns.pairplot(dataset)

In [6]:
dataset.isnull().values.any()

False

In [16]:
dataset.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [36]:
X = dataset.iloc[:,:-2].values
y = dataset.iloc[:,-2].values

In [37]:
# Train Test Split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2)

In [38]:
# import the linear regressor

from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [41]:
y_pred = regressor.predict(X_test)

In [69]:
regressor.score(X_train, y_train)

0.9197928886893054

In [70]:
#Intercept

intercept = regressor.intercept_
intercept

-2637209.4556067

In [42]:
regressor.coef_

array([2.15740010e+01, 1.65707605e+05, 1.20392442e+05, 1.87488727e+03,
       1.52223426e+01])

In [49]:
coefficients = pd.DataFrame(regressor.coef_, index= dataset.columns[0:5], columns=['Coefficient'])
coefficients

                                Coefficient
Avg. Area Income                  21.574001
Avg. Area House Age           165707.605343
Avg. Area Number of Rooms     120392.442332
Avg. Area Number of Bedrooms    1874.887274
Area Population                   15.222343

In [67]:
# To calculate p-value
import statsmodels.api as sm
from scipy import stats

In [68]:
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.918
Model:                            OLS   Adj. R-squared:                  0.918
Method:                 Least Squares   F-statistic:                 1.119e+04
Date:                Wed, 05 Sep 2018   Prob (F-statistic):               0.00
Time:                        20:34:51   Log-Likelihood:                -64714.
No. Observations:                5000   AIC:                         1.294e+05
Df Residuals:                    4994   BIC:                         1.295e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2.637e+06   1.72e+04   -153.708      0.000   -2.67e+06    -2.6e+06
x1            21.5780      0.134    160.656      0.000      21.315      21.841
x2          1.656e+05   1443.413    114.754      0.000    1.63e+05    1.68e+05
x3          1.207e+05   1605.160     75.170      0.000    1.18e+05    1.24e+05
x4          1651.1391   1308.671      1.262      0.207    -914.431    4216.709
x5            15.2007      0.144    105.393      0.000      14.918      15.483
==============================================================================
Omnibus:                        5.580   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.061   Jarque-Bera (JB):                4.959
Skew:                           0.011   Prob(JB):                       0.0838
Kurtosis:                       2.847   Cond. No.                     9.40e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.4e+05. This might indicate that there are
strong multicollinearity or other numerical problems.