In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Import the dataset

dataset = pd.read_csv('Position_Salaries.csv')
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [4]:
X = dataset.iloc[:,1:2].values # use .iloc[:,1:2] to get it as a matrix and not 1D array
y = dataset.iloc[:, 2].values

In [7]:
# Linear Regression
from sklearn.linear_model import LinearRegression

lin_reg1 = LinearRegression()
lin_reg1.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [29]:
# Polynomial regression
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree=5) # change the degree to get the curve that best fit the data
# Transforming X to a ploynomial, this will add a column of ones accounting for b0 which is the intercept
X_poly = poly_reg.fit_transform(X)
poly_reg.fit(X_poly)
# poly_reg can't do prediction
# To do prediction we need to use an object of the class LinearRegression

lin_reg2 = LinearRegression()
lin_reg2.fit(X_poly, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [ ]:
# Visualizing the regression result

# to get a smoother curve, we need to reduce the step size of the X axis
X_grid = np.arange(min(X), max(X), 0.01).reshape(-1,1)
fig,axes = plt.subplots(nrows=1, ncols=2, figsize = (18,8))

axes[0].scatter(X,y, color='red')
axes[0].plot(X, lin_reg1.predict(X))

axes[1].scatter(X,y, color='red')
axes[1].plot(X_grid, lin_reg2.predict(poly_reg.fit_transform(X_grid)), color='blue')

for ax in axes:
    ax.set_xlabel('Position Level')
    ax.set_ylabel('Salary')
    ax.set_title('Salaries for Different position levels')